/* Alapstílusok */
body {
    font-family: 'SF Pro Display', sans-serif;
    text-align: center;
    background-color: #FAFAFA;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Fejléc */
header {
    padding: 50px 20px;
    font-weight: 500;
}

.title {
    font-size: 2.2em;
    font-weight: bold;
}

.subtitle {
    font-size: 1.2em;
    color: #888;
}

/* Foglalási űrlap */
.booking {
    margin: 30px auto;
    padding: 25px;
    background: white;
    width: 85%;
    max-width: 450px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

/* Input mezők */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-size: 1em;
    font-weight: 500;
}

input {
    width: 95%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1em;
    transition: 0.3s ease-in-out;
    background-color: #F5F5F5;
}

input:focus {
    border-color: #007AFF;
    outline: none;
    box-shadow: 0px 0px 8px rgba(0, 122, 255, 0.2);
}

/* Gomb */
.btn {
    width: 90%;
    background: #007AFF;
    color: white;
    padding: 12px;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    opacity: 0.9;
    transform: scale(1.01);
}

/* Lábléc */
footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #1c1c1e; /* Sötétszürke, közel fekete */
    color: #d1d1d1; /* Világosabb szöveg kontraszt miatt */
    font-size: 1em;
}
